.boody {
  font-family: "Montserrat", sans-serif;
	background: linear-gradient(245.71deg, #1E0C00 4.96%, #1F0700 33.7%, #170A00 68.41%, #1E0D00 96.42%);
	color: #ffffff;
}

.container {
	margin: 0 auto;
	max-width: 1490px;
	width: 100%;
}